<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle</title>
  <link rel="stylesheet" href="../../../static/css/style-modals.css">
  {% csrf_token %}
</head>
<body class="modal modal-detail">
<div class="content">
  <div class="title">{{ especie.nombre }} </div>
  <div class="category">{{ especie.categoria }} </div>
  {% if especie.imageFile == None%}
  <img class="image" src="{{ especie.url }}"/>
  {%else%}
  <img class="image" src="{{ especie.imageFile.url }}"/>
  {%endif%}

  <div class="name">{{ especie.nombreCientifico }} </div>
  <div class="description">{{ especie.descripcion }} </div>
  <div class="classification">{{ especie.clasificacionTax }} </div>

  <form method="POST" action='addComentario' class="form-group">
    {% csrf_token %}
    <br>
    Usuario <textarea type="text" name="correo" id="correo">{{user.username}}</textarea>
    <br>
    Comentario: <textarea type="text"id="comentario" name="comentario"></textarea>
    <button type="submit">Comentar</button>
  </form>

  {#  <a href="{% url 'index' %}">Volver</a>#}
</div>




</body>
</html>