<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle</title>
  <link rel="stylesheet" href="../../../static/css/style-modals.css">
</head>
<body class="modal modal-detail">
<div class="content">
  <div class="title">{{ especie.nombre }} </div>
{#  <div class="category">{{ especie.categoria }} </div>#}
  {% if especie.imageFile == None%}
  <img class="image" src="{{ especie.url }}"/>
  {%else%}
  <img class="image" src="{{ especie.imageFile.url }}"/>
  {%endif%}

  <div class="name">{{ especie.nombreCientifico }} </div>
  <div class="description">{{ especie.descripcion }} </div>
{#  <div class="classification">{{ especie.clasificacionTax }} </div>#}

  {#  <a href="{% url 'index' %}">Volver</a>#}
</div>
</body>
</html>