<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle</title>
  <link rel="stylesheet" href="../../../static/css/style-modals.css">
  {% csrf_token %}
</head>
<body class="modal modal-detail">
<div class="content">
  <div class="title">{{ especie.nombre }} </div>
  <div class="category">{{ especie.categoria }} </div>
  {% if especie.imageFile == None%}
  <img class="image" src="{{ especie.url }}"/>
  {%else%}
  <img class="image" src="{{ especie.imageFile.url }}"/>
  {%endif%}

  <div class="name">{{ especie.nombreCientifico }} </div>
  <div class="description">{{ especie.descripcion }} </div>
  <div class="classification">{{ especie.clasificacionTax }} </div>
    <br>

      {%if especie.comentario%}
  <h2>Comentarios</h2>
    <div>
      {{especie.comentario}}  ({{user.username}})
    </div>
      {%else%}
      <h2>No hay comentarios</h2>
    {%endif%}

  {%if user.is_authenticated%}
  <form method="POST" action='addComentario' class="form-group">
    {% csrf_token %}
    <br>

    Comentario: <textarea type="text"id="comentario" name="comentario"></textarea>
    <button type="submit">Comentar</button>
  </form>
  {%endif%}
</div>




</body>
</html>