{#Load the tag library#}
{% load bootstrap3 %}
{%bootstrap_css%}
{%bootstrap_javascript%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Especie</title>
</head>
<body>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
{%block content%}
    <form class="form-group" action="{%url 'addEspecie'%}" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-success" type="submit" >Aceptar</button>
    </form><a href="{%url 'index'%}"class="btn btn-danger" >Cancelar</a>
{%endblock content%}
</div>
</body>
</html>
