<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalogo de Especies</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  {% load static %}
  <link rel="stylesheet" href="../../static/css/style-gallery.css">
  <link rel="stylesheet" href="../../static/css/style-neat-parallax-hero-effect.css">
  <link rel="stylesheet" href="../../static/css/style-mouse-scroll-animation.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<!--<h1 align="center">Especies</h1>-->
<!--{% for especie in especies %}-->

<!--<p class="a{{especie.nombre}}">{{especie.nombre}}</p>-->
<!--{% endfor %}-->
<div class="hero-nav">
  <div class="hero-nav__inner">
    <h1 class="title">BIODIVERSIDAD</h1>
    <h3 class="subtitle">Catálogo de Especies</h3>
    <div class="hero-nav__button">
      <a href="#" class="btn"></a>
    </div>
    <div class='icon-scroll'></div>
  </div>
</div>
<div class="page-content">
  <div class="container">
    <div class="row">
      {% for especie in lista_especies %}
      {% if forloop.counter0 < 4 %}
      <div class="col">
        <div class="photo-container"
             style="background-image:url({{especie.url}})"></div>
        <h2>{{especie.nombre}}</h2>
        <div class="slide">
          <p>{{especie.descripcion}}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      {% for especie in lista_especies %}
      {% if forloop.counter0 > 3  %}
      {% if forloop.counter0 < 10  %}
      <div class="col">
        <div class="photo-container"
             style="background-image:url({{especie.url}})"></div>
        <h2>{{especie.nombre}}</h2>
        <div class="slide">
          <p>{{especie.descripcion}}</p>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      {% for especie in lista_especies %}
      {% if forloop.counter0 > 9  %}
      {% if forloop.counter0 < 13  %}
      <div class="col">
        <div class="photo-container"
             style="background-image:url({{especie.url}})"></div>
        <h2>{{especie.nombre}}</h2>
        <div class="slide">
          <p>{{especie.descripcion}}</p>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      {% for especie in lista_especies %}
      {% if forloop.counter0 > 12  %}
      {% if forloop.counter0 < 17  %}
      <div class="col">
        <div class="photo-container"
             style="background-image:url({{especie.url}})"></div>
        <h2>{{especie.nombre}}</h2>
        <div class="slide">
          <p>{{especie.descripcion}}</p>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../../static/js/index-neat-parallax-hero-effect.js"></script>
<script src="../../static/js/main.js"></script>
</body>

</html>