<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrar Usuario</title>
  <link rel="stylesheet" href="../../static/css/style-modals.css">
  <link rel="stylesheet" href="../../static/css/style-button-animation.css">
</head>
<body class="modal modal-login">
{% csrf_token %}
{% block content %}
  <div class="content">
    <div class="form">
      <div class="title">
        <h2>Login</h2>
      </div>
      {% if mensaje %}
        <div class="alert alert-danger">{{ mensaje }}</div>
      {% endif %}

      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label class="control-label" for="username">Nombre Usuario</label>
          <input type="text" id="username" name="username" class="form-control" value="{{ username }}">
        </div>
        <div class="form-group">
          <label class="control-label" for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control">
        </div>

        <button type="submit" >Login</button>

      </form>
    <button href="javascript:void(0)" onclick="parent.closeNav()">Cancelar</button>
    </div>
  </div>
{% endblock content %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../../static/js/navbars.js"></script>
</body>
</html>