
.button {
    /*position: fixed;*/
    cursor: pointer;
    /*top: 7vh;*/
    /*right: 5vh;*/
    color: #fafafa;
    transform: translate3d(-50%, -50%, 0);
    padding: 0.7em calc(0.5em * 1.2);
    display: inline-block;
    border: 2px solid transparent;
    font-size: 3vh;
    /*letter-spacing: 0.07em;*/
}

.button .text {
    /*font-family: proxima-nova;*/
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.button:after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 2px;
    background: white;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}

.line {
    position: absolute;
    background: white;
}

.line.-right, .line.-left {
    width: 2px;
    bottom: -2px;
    top: -2px;
    transform: scale3d(1, 0, 1);
}

.line.-top, .line.-bottom {
    height: 2px;
    left: -2px;
    right: -2px;
    transform: scale3d(0, 1, 1);
}

.line.-right {
    right: -2px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}

.line.-top {
    top: -2px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}

.line.-left {
    left: -2px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}

.line.-bottom {
    bottom: -2px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}

.button:hover .text,
.button:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.button:hover:after,
.button:active:after {
    transform: scale3d(0, 1, 1);
    right: -2px;
    left: -2px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.button:hover .line,
.button:active .line {
    transform: scale3d(1, 1, 1);
}

.button:hover .line.-right,
.button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}

.button:hover .line.-top,
.button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}

.button:hover .line.-left,
.button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}

.button:hover .line.-bottom,
.button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}

a.button {
    text-decoration: none;
}