/*Modals content*/
body{
    overflow-y: hidden;
}
.modal {
    background-color: #111;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-y: hidden;
    text-align: center;
}
.modal .title{
    font-size: 20px;
}

.modal form {
    text-align: center;
}

.modal label {
    display: block;
    letter-spacing: 2px;
    padding-top: 10px;
    text-align: center;
}

.modal label .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 15px;
    line-height: 10px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

.modal input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 18px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.3s;
    width: 40%;
}

.modal input:focus {
    max-width: 100%;
    width: 70%;
}

.modal input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}

.modal input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}

.modal button {
    background-color: #333333;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    padding: 7px 10px;
    text-transform: uppercase;
    transition: all 200ms;
}

.modal button:hover, .modal button:focus {
    background-color: white;
    color: #333333;
    outline: 0;
}


/*Styles detail Modal*/
.modal-detail{
    overflow-y: scroll;
}
.modal-detail .title, .modal-detail .category, .modal-detail .name, .modal-detail .description{
    color: #F0F0F0;
    text-align: left;
    margin: 0 5px 0 5px;
}
.modal-detail .title{
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.modal-detail .image{
    max-width: 100%;
}

.modal-detail .name{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.modal-detail .name{
    margin-top: 5px;
    margin-bottom: 10px;
}

::-webkit-scrollbar
{
    width: 0;
}
