.hero-nav {
    height: 100%;
    min-height: 15%;
    z-index: 99!important;
    background-image: url("../../static/img/banner.jpg");
}

.hero-nav__inner {
    align-content: center;
}

.hero-nav__inner .title {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    /*font-size: 5em;*/
}

.hero-nav__inner .subtitle {
    margin-top: 0;
    text-align: center;
}

.page-content{
    width: 100%;
}
.page-content .container{
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.photo-container {
    background: #0f3443 50% 50% / cover;
}

.photo-container::before {
    background: -webkit-linear-gradient(transparent, rgba(52, 232, 158, 0.1), #0f3443);
    background: linear-gradient(transparent, rgba(52, 232, 158, 0.1), #0f3443);
}

.slide {
  background: rgba(15, 52, 67, 0.5);
  padding: 0 1.5rem;
}

.button{
    font-size: 16px;
}

.hero-nav__button{
    position: fixed;
    top: 7vh;
    right: -2vw;
}

.hero-nav__button .button:first-child{
    margin-right: 1vw;
}

.slide p{
    line-height: 1.3;
    font-size: 13px;
}

#loginSideNav, #registroSideNav{
    left: auto;
    right: 0;
}